#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-styym6.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div > div.st-emotion-cache-0.e1f1d6gn0 > div > div > div.element-container.st-emotion-cache-fgukfk.e1f1d6gn4 > div > button {
    position: absolute;

    top: -54px;
    right: 0;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-1cypcdb.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div > div.st-emotion-cache-0.e1f1d6gn0 > div > div > div.element-container.st-emotion-cache-fgukfk.e1f1d6gn4 > div > button {
    position: absolute;

    top: -54px;
    right: 0;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-1cypcdb.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div > div.st-emotion-cache-0.e1f1d6gn0 > div > div > div.element-container.st-emotion-cache-w3uywq.e1f1d6gn4 > div > button {
    position: absolute;

    top: -54px;
    right: 0;
}
